# Terraform state files and config
*.tfstate
terraform.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
crash.log
docker-cicd-key.pub
docker-cicd-key
